{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid page-content">
        <div class="row h-100 align-items-center">
            <div class="col-lg-6 content-block align-self-start order-1 order-lg-2">
                <div class="fillblock px-4 py-3 mb-3" id="block-2">
                    <div class="row">
                        <div class="col-9 px-0">
                            <div class="row pl-3">
                            <h3 class="workout-name">{% if wod.workout_is_wod %}<span>Workout of the Day:</span><br>{% endif %}{{ wod.workout_name }}</h3>
                            </div>
                            <div class="row pl-3">
                                <h5 class="category-name">{{ wod.get_workout_category_display }}</h5>
                            </div>
                        </div>
                        <div class="col-3 px-1 justify-content-end">
                            <div class="row justify-content-end">
                                <button class="btn btn-black rounded-1" id="toggle-workouts-button">Workouts</button>
                            </div>     
                            <div class="row justify-content-end">
                                <button class="btn btn-black rounded-1" id="toggle-log-button">Log</button>
                            </div>                                                   
                        </div>      
                    </div>
                    <!-- <div class="row">
                        <h5 class="category-name">{{ wod.get_workout_category_display }}</h5>
                    </div> -->
                    <div class="row">
                        <p class="workout-description">{{ wod.description }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 content-block align-self-start order-2 order-sm-3">
                <div class="fillblock mb-3" id="block-1">
                    <div id="log-ranking-div">
                        {% include 'workouts/includes/log-ranking.html' %} 
                    </div>
                    <div id="logform-div">
                        {% include 'workouts/includes/logform.html' %}
                    </div>           
                </div>
            </div>           
            <div class="col-sm-6 col-lg-3 content-block align-self-start order-3 order-sm-2 order-lg-1">
                <div class="fillblock mb-3" id="block-3">
                    <div id="log-history-div">
                        {% include 'workouts/includes/log-history.html' %} 
                    </div>
                    <div id="categories-div">
                        {% include 'workouts/includes/categories.html' %} 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div hidden id="wod-id-no" data="{{ wod.id }}"></div>
    <div hidden id="rlistmenall" data-list="{{ rlistmenall }}"></div>
    <div hidden id="rlistmentoday" data-list="{{ rlistmentoday }}"></div>
    <div hidden id="rlistwomenall" data-list="{{ rlistwomenall }}"></div>
    <div hidden id="rlistwomentoday" data-list="{{ rlistwomentoday }}"></div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'workouts/js/token.js' %}"></script>
<script type="text/javascript" src="{% static 'workouts/js/workouts.js' %}"></script>
{% endblock %}