{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid page-content">
        <div class="row h-100 align-items-center">
            <div class="col-lg-6 content-block align-self-start order-1 order-lg-2">
                <div class="fillblock px-4 py-3 mb-3" id="block-2">
                    <div class="row">
                        <div class="col-10 px-0">
                            <h3 class="workout-name">{% if wod.workout_is_wod %}<span>Workout of the Day:</span><br>{% endif %}{{ wod.workout_name }}</h3>
                        </div>
                        <div class="col-2 px-0 justify-content-end">
                            <a class="btn btn-black rounded-0" id="log-workout-button">Log</a>
                        </div>      
                    </div>
                    <div class="row">
                        <h5 class="category-name">{{ wod.get_workout_category_display }}</h5>
                    </div>
                    <div class="row">
                        <p class="workout-description">{{ wod.description }}</p>
                    </div>
                    <!-- <div class="row mr-2 justify-content-end">
                        <a class="btn btn-black rounded-0" href="#" id="log-workout-button">Log Workout</a>
                    </div>                     -->
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 content-block align-self-start order-2 order-md-3">
                <div class="fillblock p-2 mb-3" id="block-1">
                    <div id='log-ranking-div'>
                        {% include 'workouts/includes/log-ranking.html' %} 
                    </div>
                    <div id="logform-div">
                        {% include 'workouts/includes/logform.html' %}
                    </div>           
                </div>
            </div>           
            <div class="col-sm-6 col-lg-3 content-block align-self-start order-3 order-md-2 order-lg-1">
                <div class="fillblock p-2 mb-3" id="block-3">
                    Activity History
                    <span id="all-all">All</span><br>
                    <span id="all-wod">All-WOD</span><br>
                    <span id="user-all">{{ profile.full_name}}</span><br>
                    <span id="user-wod">{{ profile.full_name }}-WOD</span><br>
                    <!-- '1' is a temporary placeholder for search value -->
                    <a href="{% url 'workouts' 1 %}">New WOD</a>
                        {% for group in log_groups %}
                                <ul class="log-history log-his">
                                {% for member_log in group %}
                                    <li>{{ member_log.date }}</li>
                                {% endfor %}
                                </ul>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div hidden data="{{ wod.id }}"></div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'workouts/js/token.js' %}"></script>
<script type="text/javascript" src="{% static 'workouts/js/workouts.js' %}"></script>
{% endblock %}