{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid page-content">
        <div class="row h-100 align-items-center">
            <div class="col-lg-6 content-block align-self-start order-1 order-lg-2">
                <div class="fillblock px-4 py-3 mb-3" id="block-2">
                    <div class="row">
                        <div class="col-10 px-0">
                            <h3 class="workout-name">{% if wod.workout_is_wod %}<span>Workout of the Day:</span><br>{% endif %}{{ wod.workout_name }}</h3>
                        </div>
                        <div class="col-2 px-0 justify-content-end">
                            <a class="btn btn-black rounded-0" href="#" id="log-workout-button">Log</a>
                        </div>      
                    </div>
                    <div class="row">
                        <h5 class="category-name">{{ wod.get_workout_category_display }}</h5>
                    </div>
                    <div class="row">
                        <p class="workout-description">{{ wod.description }}</p>
                    </div>
                    <!-- <div class="row mr-2 justify-content-end">
                        <a class="btn btn-black rounded-0" href="#" id="log-workout-button">Log Workout</a>
                    </div>                     -->
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 content-block align-self-start order-2 order-md-3">
                <div class="fillblock p-2 mb-3" id="block-1">
                    <div id='log-ranking-div'>{% include 'workouts/includes/log-ranking.html' %} </div>
                    <div id="logform-div">{% include 'workouts/includes/logform.html' %}</div>           
                </div>
            </div>           
            <div class="col-sm-6 col-lg-3 content-block align-self-start order-3 order-md-2 order-lg-1">
                <div class="fillblock p-2 mb-3" id="block-3">
                    Activity History
                    <span id="all-all">All</span><br>
                    <span id="all-wod">All-WOD</span><br>
                    <span id="user-all">{{ profile.full_name}}</span><br>
                    <span id="user-wod">{{ profile.full_name }}-WOD</span><br>
                    <!-- '1' is a temporary placeholder for search value -->
                    <a href="{% url 'workouts' 1 %}">New WOD</a>
                        {% for group in log_groups %}
                                <ul class="log-history log-his">
                                {% for member_log in group %}
                                    <li>{{ member_log.date }}</li>
                                {% endfor %}
                                </ul>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function() {
        // add classes to log history groups.
        for( i = 1; i < 5; i++) {
            let group = $('.log-his').first()
            group.removeClass('log-his')
            group.addClass('log-his-' + i)
        }
        for( i = 1; i < 5; i++) {
            let group = $('.log-rank').first()
            group.removeClass('log-rank')
            group.addClass('log-rank-' + i)
        }

        $('#log-workout-button').click(function() {
            $('#logform-div').toggle()
            $('#log-ranking-div').toggle()
            window.scrollTo(0,0)
        });

        $('#cancel-log').click(function() {
            $('#logform-div').css('display', 'none')
            $('#log-ranking-div').css('display', 'block')
        });
        
        // compare heights of blocks to determine height for block-3
        // let element = document.getElementById('block-2')
        // let style = getComputedStyle(element)
        // let block2_height = style.height
        // element = document.getElementById('block-1')
        // style = getComputedStyle(element)
        // let block1_height = style.height
        // let block_height = Math.max(block1_height, block2_height)
        // console.log(block2_height)
        // $('#block-3').css("max-height", `${block2_height}`);

        // set visibility on page elements
        $('.log-ranking').hide()
        let gender = $('#gender').text()
        if (gender == "F"){
            $('.log-rank-4').show()
            $('#rank-women').css({'font-weight': '700', 'text-decoration': 'underline'})
        }else{
            $('#rank-men').css({'font-weight': '700', 'text-decoration': 'underline'})
            $('.log-rank-3').show()
        }
        $('#rank-today').css({'font-weight': '700', 'text-decoration': 'underline'})
        let period = 'today'
        
        // rank-logs navigator:
        $('#rank-all-time').click(function(){
            // console.log($('#rank-nav').children().css('font-weight'))
            $('.period').css({'font-weight': '400', 'text-decoration': 'none'})
            $('#rank-all-time').css({'font-weight': '700', 'text-decoration': 'underline'})
            if (gender == "F") {
                $('.log-ranking').hide()
                $('.log-rank-2').show()
            } else {
                $('.log-ranking').hide()
                $('.log-rank-1').show()
            }
            period = 'alltime'           
        })
        $('#rank-today').click(function(){
            $('.period').css({'font-weight': '400', 'text-decoration': 'none'})
            $('#rank-today').css({'font-weight': '700', 'text-decoration': 'underline'})
            if (gender == "F") {
                $('.log-ranking').hide()
                $('.log-rank-4').show()
            } else {
                $('.log-ranking').hide()
                $('.log-rank-3').show()
            }
            period = 'today'
        })
        $('#rank-men').click(function(){
            $('.gender').css({'font-weight': '400', 'text-decoration': 'none'})
            $('#rank-men').css({'font-weight': '700', 'text-decoration': 'underline'})
            if (period == "today") {
                $('.log-ranking').hide()
                $('.log-rank-3').show()
            } else {
                $('.log-ranking').hide()
                $('.log-rank-1').show()
            }
            gender = 'M'
        })
        $('#rank-women').click(function(){
            $('.gender').css({'font-weight': '400', 'text-decoration': 'none'})
            $('#rank-women').css({'font-weight': '700', 'text-decoration': 'underline'})
            if (period == "today") {
                $('.log-ranking').hide()
                $('.log-rank-4').show()
            } else {
                $('.log-ranking').hide()
                $('.log-rank-2').show()
            }
            gender = 'F'
        })
        // log-history navigator:
        $('.log-history').hide()
        $('.log-his-2').show()
        $('#all-all').click(function(){
            $('.log-history').hide()
            $('.log-his-1').show()
        })
        $('#all-wod').click(function(){
            $('.log-history').hide()
            $('.log-his-2').show()
        })
        $('#user-all').click(function(){
            $('.log-history').hide()
            $('.log-his-3').show()
        })
        $('#user-wod').click(function(){
            $('.log-history').hide()
            $('.log-his-4').show()
        })
        $('.r-log').each(function(){
            if (!$(this).hasClass('ft-log')) {
                while ($(this).text().slice(-1) == '0' || $(this).text().slice(-1) == '.') {
                    if ($(this).text().slice(-1) == '.'){
                        let log_text = $(this).text().slice(0, -1);
                        $(this).text(log_text);
                        break
                    }else{
                        let log_text = $(this).text().slice(0, -1);
                        $(this).text(log_text);
                    }
                }
            }
        })
        // $('.rank-flag').click(function() {
        //     if ($(this).css('z-index') == 9999) {
        //         $(this).css('z-index', '0')
        //     } else {
        //         $(this).css('z-index', '9999')
        //     }
        // })
        $('.extra-log-info').each(function(){
            let group_class_name = $(this).parent().attr('class')
            let group_id = group_class_name.split(" ")[1]
            $(this).addClass(group_id + "X")
        })
        $('.extra-log-info').hide()
        $('.rank-card').children('.card-col').click(function(){
            let main_card = "#" + $(this).parent().attr('id')
            let log_name = $(this).parents().attr('name')
            let log_name_class = "." + log_name
            let group_class_name = $(this).parent().parent().attr('class')
            let group_id = log_name_class + "." + group_class_name.split(" ")[1] + "X"
            let extra_info_cards = $(group_id);
            let last_info_card = extra_info_cards.last()
            last_info_card.addClass('add-border-last')
            extra_info_cards.slideToggle(100)
            $('.extra-log-info').not(group_id).slideUp()
           $('.rank-card').not(main_card).removeClass('remove-borders-main')
            if ($(this).parent().hasClass('remove-borders-main')) {
                $(this).parent().removeClass('remove-borders-main');
            }else{
                $(this).parent().addClass('remove-borders-main');
                // $('.rank-card').not(this).parent().removeClass('remove-borders-main')
            }
        })

        if ($('.member-comment').focus()) {
            let shift = false
            $('.member-comment').on('keydown', function (e) {
                if(e.which === 16){
                    shift = true
                    console.log("shiftkey")
                }
            });
            $('.member-comment').on('keyup', function (e) {
                if(e.which === 16){
                    shift = false
                    console.log("shiftkey")
                }
            });
            $('.member-comment').on('keypress', function (e) {
                if(e.which === 13 && shift == false){
                    //Disable textbox to prevent multiple submit
                    $(this).attr("disabled", "disabled");
                    //Do Stuff, submit, etc..
                    console.log("testing keypress")
                    //Enable the textbox again if needed.
                    $(this).removeAttr("disabled");
                }
            });
        }
        
    });
</script>
{% endblock %}