{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid page-content">
    <div class="row h-100 mt-3 justify-content-center">
        <div class="col-12 my-auto">
            <h2 id="promo-text" class="vertical-center">Become a HERO! <br>Join our community and push yourself to the
                limit!<br>Only a one time payment of $9,99! </h2>
        </div>
        <div class="col-12 col-lg-8 my-auto">
            <div id="carouselExampleControls" class="carousel slide example-slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/media/profile1.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-sm-block">
                            <p>See your personal stats for your activity and fitness level.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/media/workouts1.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-sm-block">
                            <p>Follow along with the workout of the day, or select your own workout! See how the rest of
                                the community is doing.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/media/community1.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-sm-block">
                            <p>Check out the levels of other members in your commnity!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/media/community2.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-sm-block">
                            <p>Select or make a group that you want to compare with!</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'home/js/index.js' %}"></script>
{% endblock %}