{% extends "base.html" %}
{% load static %}
{% load calc_functions %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid page-content">
    <div class="row h-100 align-items-center">
        <div class="col-sm-6 col-lg-3 content-block order-1 order-sm-3 align-self-start">
            <div class="fillblock p-2 block-stats">
                <div class="shadow-div"></div>
                {% include 'community/includes/groupstats.html' %}
            </div>
        </div>
        <div class="col-lg-6 content-block align-self-start order-2 order-lg-2">
            <div class="fillblock p-2 block-main">
                <div class="shadow-div"></div>
                <div id="group-select-div">{% include 'community/includes/groupmain.html' %}</div>
                <div id="group-make-div" hidden>{% include 'community/includes/makegroup.html' %}</div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 content-block order-3 order-sm-2 order-lg-1 align-self-start">
            <div class="fillblock p-2 block-members">
                <div class="shadow-div"></div>
                <div class="comm-members-div">
                    {% include 'community/includes/groupmembers.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'community/js/community.js' %}"></script>
<script type="text/javascript" src="{% static 'community/js/token.js' %}"></script>
{% endblock %}