body {
    background: url('/media/background.jpg') no-repeat fixed;
    background-size: cover;
    background-position-y: 150px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Bungee';
}

#header-bar {
    /* background-color: aquamarine !important; */
    height: 150px;
    border-bottom: 3px solid black;
    /* position: relative; */
    background-color:#0E2246;
    color: #DEC19A;
    font-family: 'Bungee';
}

.navbar {
    text-transform: uppercase;
    font-size: 1.5rem;
}

#profile-circle {
    margin-top:25px;
    height:200px;
    width:200px;
    min-width: 120px;
    border-radius:50%;
    border: 3px solid black;
    background-size: cover;
    z-index: 999;
}

#emblem-circle {
    position: absolute;
    top:93px;
    margin-left:190px;
    /* left:50px; */
    margin-top:25px;
    height:60px;
    width:60px;
    /* min-width: 30px; */
    border-radius:50%;
    border: 3px solid black;
    background-size: cover;
    z-index: 999;
}

.page-content {
    height: calc(100vh - 150px);
    padding-top: 75px;
    padding-bottom: 75px;
    /* background: url('/media/background.jpg') no-repeat fixed;
    background-size: cover; */
}

.content-block {
    margin-top: 15px;
}

.fillblock {
    min-height: 200px;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}

.navbar {
    margin-top:85px;
}

.example-slide {
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid 3px #0E2246;
}
#promo-text {
    /* margin-top:100px; */
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px #0E2246;
    /* background-color: rgba(0,0,0, 0.5) */
}

.header-text {
    color: white;
    text-shadow: 2px 2px 5px #0E2246;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* Allauth form formatting  */

select {
    margin-bottom: 15px;
    border: solid 1px #000000 !important;
}

#id_image {
    text-shadow: 1px 1px 2px white;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; /*mt-4*/
    color: #000000; /* text-secondary */
    text-shadow: 1px 1px 2px white;
}

.allauth-form-inner-content form {
    text-shadow: 1px 1px 2px white;
    margin-bottom: 25px;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content input {
    margin-bottom: 15px;
}
.allauth-form-inner-content a {
    color: #17a2b8; /* text-info */
    text-decoration: none;
}

/* MEDIAQUERIES */

@media (max-width: 576px) {
    
  body {
    background-position-y: 90px;
  }
  #profile-circle {
    height: 120px;
    width: 120px;
  }
#header-bar {
    height: 90px;
  }
  .page-content {
    padding-top: 50px;
    }
    .navbar {
        margin-top:25px;
    }
#emblem-circle {
    
    top:42px;
    margin-left:120px;
    height:40px;
    width:40px;
}
}

@media (max-width: 992px) {
    .navbar-collapse {
        padding: 0px 24px 0px 24px;
        background-color: #0E2246;
        left: -24px;
        top: 15px;
        position: relative;
    }
}
