/* GENERAL */

html {
    overflow-x: hidden!important;
}
body {
    background: url('/media/chipboard.png') repeat fixed;
    background-size: 700px 400px;
    background-position-y: 150px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden!important;
}
.indexbody{
    background: url('/media/background.jpg') no-repeat fixed;
    background-size: cover;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bungee', cursive;
}
#header-bar {
    height: 150px;
    border-bottom: 3px solid black;
    background: url('/media/blackmat.jpg') repeat fixed;
    background-size: 300px 300px;
    font-family: 'Bungee', cursive;
    position: fixed;
    top: 0;
    z-index: 9997;
}
#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}
.t-center{
    text-align:center;
}

#info-overlay-h{
    position:absolute;
    right:0;
}
#info-overlay-text{
    text-align: justify;
}
#close-info-overlay{
    cursor: pointer;
}
.creator-credits{
    text-decoration: none;
    color:grey;
    cursor:pointer;
    padding: 0 10px;
}
.creator-credits:hover{
    text-decoration:none;
    color: white;
    text-shadow:1px 1px 1px black;
}
.cc-div{
    text-align: center;
    margin-bottom:15px;
}
.breakline{
    display:inline-block;
}
#anchor-promo{
    text-decoration:none;
}
.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}
.buttonHolder button {
    margin-top:5px;
}
.email_list{
    margin-bottom: 15px;
}
#turn-off-mail{
    background-color:red;
    border: none;
    margin-bottom: 8px;
}
#turn-on-mail{
    background-color:green;
    border: none;
    margin-bottom: 8px;
}
ul.socialaccount_providers {
    list-style: none;
    padding-left: 0px;
}
.social-icon{
    height: 25px;
    width: 25px;
}
.social-button{
    background-color:black;
    border-radius: 5px;
    padding: 5px;
    width: 120px;
    margin: 5px;
}
.social-button:hover{
    background-color: rgb(34, 34, 34);
    cursor:pointer;
}
.social-button a {
    text-decoration: none;
    color: white!important;
}
.login-text{
    margin-top:0px!important;
}
.page-content{
    margin-top:150px;
    min-height: calc(100vh - 150px - 42px);
    padding-top: 75px;
    padding-bottom: 15px;
}
.navbar {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top:85px;
}
.logopic{
    background: url('/media/herocommunitylogo.jpg') no-repeat;
    background-size: cover;
}
#profile-circle {
    margin-top:25px;
    height:200px;
    width:200px;
    min-width: 120px;
    border-radius:50%;
    border: 3px solid black;
    background-size: cover;
    z-index: 9998;
}
.toast-body {
    font-family: 'Open Sans', sans-serif;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#arrow-emblem {
    top:56px;
    right: 23px;
    background-color:transparent;
}
#arrow-emblem-home {
    position: absolute;
    top:221px;
    right:auto;
    z-index: 9999;
    background-color:transparent;
}
#emblem-circle {
    position: absolute;
    top:93px;
    margin-left:-34px;
    margin-top:25px;
    height:60px;
    width:60px;
    border-radius:50%;
    border: 3px solid black;
    background-size: cover;
    z-index: 9999;
    cursor:pointer;
}
.emblem-circle-hover {
    top: 25px!important;
    margin-left: -200px!important;
    margin-top: 0!important;
    height: 200px!important;
    width: 200px!important;
    transition: width .5s, height .5s, top .5s, margin-left .5s, margin-top .5s;
}
#hero-co-info {
    display: none;
    position: fixed;
    top: 150px;
    left: 0;
    /* width: 100%;
    height: 100%; */
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    color:white;
    z-index: 9996;
}
.hero-co-info-con{
    height:100%;
    overflow-y: scroll;
}
.row-site-info{
    padding-top: 100px;
}
.content-block {
    margin-top: 15px;
}
.fillblock {
    min-height: 200px;
    min-width: 230px;
    width: 100%;
    border: 6px ridge lightgrey;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 3px;
    margin-bottom: 15px;
}
.hide-it{
    display: none;
    opacity: 0;
}
/* from Bulma _ from Boutique Ado project CODE INSTITUTE */
.icon { 
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}
.text-black {
    color: #000 !important;
}
.border-black {
    border: 1px solid black !important;
}
.btn-file {
    position: relative;
    overflow: hidden;
    text-shadow: none;
}
#filename{
    margin:0;
    min-height:5px;
}
.bootstrap-iso{
    border-radius: 5px;
    background-color: rgba(0,0,0,0)!important;
}
.rounded-1-imp{
    border-radius: 5px!important;
}
.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}
input[name='q']::placeholder {
    color:#aab7c4;
}
.message-container {
    position: absolute;
    top:187px;
    z-index: 9999;
    min-width: 245px;
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
    overflow-x: hidden;
}
.message-container-home {
    top: 231px !important;
}
.close-notification {
    padding: 0;
    background-color: transparent;
    border: 0;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.custom-toast {
    overflow: visible;
}
.toast-capper {
    height: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 12px solid black;
    position: absolute;
    top: -10px;
    right: 34px;
}
/* Convenience classes - colors copied from Bootstrap */
.arrow-success {
    border-bottom-color: #28a745 !important;
}
.arrow-danger {
    border-bottom-color: #dc3545 !important;
}
.arrow-warning {
    border-bottom-color: #ffc107 !important;
}
.arrow-info {
    border-bottom-color: #17a2b8 !important;
}
.bootstrap-iso {
    font-family: inherit !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
}
/* Allauth form formatting  */
select {
    margin-bottom: 15px;
    border: solid 1px #000000 !important;
}
#id_image {
    text-shadow: 1px 1px 2px white;
    border: none !important;
}
.allauth-form-inner-content p {
    margin-top: 1.5rem; /*mt-4*/
    color: #000000; /* text-secondary */
    text-shadow: 1px 1px 2px white;
}
.allauth-form-inner-content form {
    text-shadow: 1px 1px 2px white;
    margin-bottom: 25px;
}
.allauth-form-inner-content input {
    border-color: #000!important;
}
.verified{
    color:blue;
}
.primary{
    color:red;
}
label[for='image-clear_id'] {
    display: inline-block !important;
}
.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}
.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}
.allauth-form-inner-content input {
    margin-bottom: 15px;
}
.allauth-form-inner-content a {
    color: blue;
    text-decoration: none;
}
.datepicker {
    z-index: 9998!important;
}
.header-text {
    color: white;
    text-shadow: 2px 2px 5px #000;
}
.btn-black {
    background-color: #000;
    color: #fff;
}
/* LANDING PAGE */
.carousel-caption{
    position: relative;
    top:0;
    left:0;
    background-color: black;
}
.carousel-caption h5,
.carousel-caption p {
    background-color: black;
    font-size:1.3rem;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-family: 'Bungee', cursive;
  font-size: 2.5rem;
  color: grey;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-family: 'Bungee', cursive;
  font-size: 2.5rem;
  color: grey;
}
.example-slide {
    margin-top: 50px;
    margin-bottom: 50px;
}
#promo-text {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px #000;
}

/* WOKROUT PAGE */
.pr-pic{
    background: url('/media/herocommunitylogo-PR-lean.jpg') no-repeat;
    background-size: cover;
}
.btn-none{
    background:none!important;
    border:none!important;
    font-size: 0.75rem;
}

#id_user_comment {
    height: 4em;
}
.workout-name {
    color: #6c757d;
}
#workout-name {
    color: #000;
}
.workout-description {
    white-space:pre-line;
}
.category-name {
    color: #ffc107;
}
#set-wod-button,
#toggle-delete-wod-button,
#toggle-edit-wod-button,
#toggle-create-wod-button {
   margin:0 0px 5px 10px;
}
#toggle-log-button,
#toggle-workouts-button {
   margin:0 10px 5px 0px;
}
#set-wod-button{
    background-color: grey;
    color:white;
}
#toggle-delete-wod-button{
    background-color: red;
    color:white;
}
#toggle-edit-wod-button{
    background-color: blue;
    color:white;
}
#toggle-create-wod-button{
    background-color: #ffc107;
    color:white;
}
.btn:hover{
    box-shadow: 3px 3px 3px grey;
}
#logform-div {
    display:none;
}
#logform-wod-type {
    color:grey;
}
#block-1,
#block-3 {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 400px;
    padding: 0 8px 8px 8px!important;
}
.block-header {
    background-color:white;
    padding-top: 8px;
    z-index:998!important;
    width: calc(100% + 16px);
    margin-left: -8px;
    /* box-shadow: inset 6px 6px 7px -6px #000, inset -4px 5px 7px -4px #000; */
}
.group-members,
.log-history,
.log-ranking {
    padding-left:0px;
    font-size:0.75rem;
    list-style: none;
}
#ranking-wod-name-title{
        margin: -10px 0 2px 0;
        color:grey;
}
.rank-name-spacing a {
    text-decoration: none;
    color: black;
}
.rank-name-spacing a:hover {
    color:blue;
}
.rank-card .card-col{
    cursor:pointer;
}
.direction {
    border: solid 1px grey;
    border-radius: 3px;  
    background-color: lightgrey;
    cursor:pointer;
}
.direction i {
    padding: 4px;
    color: grey;
}
.display-month{
    font-size: 1.0rem;
    font-family: 'Bungee', cursive;
    letter-spacing: -2px;
    position: absolute;
    top: -19px;
    left: 0;
    color: rgba(128, 128, 128, 0.8);
}
.display-day{
    font-size: 1.5rem;
    font-family: 'Bungee', cursive;
    letter-spacing: -2px;
    position: absolute;
    top: -9px;
    left: 1px;
    color: rgba(255, 193, 7,0.8);
}

.rank-card {
    border: 1px solid grey;
    border-radius: 3px;
    padding-left:2px;
    box-shadow: 0px 0px 3px black;
    min-height: 45px;
}

.no-logs{
    color: #ffc107;;
    text-align: center;
    padding: 15px;
}
.rank-counter {
    color: #ffc107;;
    font-size:1.5rem;
    font-family: 'Bungee', cursive;
}
.rank-counter span {
    position: absolute;
    top: -18px;
    left: 5px;
}
.new-row,
.extra-log-info {
    border: 1px solid grey;
    border-radius: 3px;
    padding-left:2px;
    margin-top:-4px !important;
    margin-bottom:0px;
    border-top-color: rgba(255,255,255,0);
    border-bottom-color:rgba(255,255,255,0);
    border-radius:0;
}
.remove-borders-main {
    border-bottom-color: rgba(255,255,255,0);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow:0px 0px 0px 0px white!important;
}
.add-border-last {
    border-bottom-color: grey;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.new-row hr,
.extra-log-info hr {
    margin-top:3px;
    margin-bottom:3px;
}
.card-col p{
    margin-bottom: 3px;
}
.pr-logo-circle {
    height:30px;
    width:30px;
    border-radius:50%;
    background-size: cover;
    z-index: 1;
    position:absolute;
    top:-15px;
    left:-30px;
}
.crud-icons{
    position:absolute;
    top:-14px;
    left:-15px;
}
.crud-icons-log {
    position:absolute;
    top:-18px;
    left:-45px;
}
.pf-rnk-circle {
    height:30px;
    width:30px;
    border-radius:50%;
    border: 1px solid grey;
    background-size: cover;
    z-index: 997;
    position:absolute;
    top:-15px;
    left:-15px;
}
.pf-circle-container{
    width:100%;
}
.pf-inf-circle {
    height:120px;
    width:120px;
    border-radius:50%;
    border: 1px solid blue;
    background-size: cover;
    margin:10px;
}
.prc-tm{
    margin-top:3px;
    left: 0 !important;
}
.pr-logo-circle:hover,
.rank-flag:hover,
.pf-rnk-circle:hover{
    height: 60px !important;
    width: 60px !important;
    top: -30px;
    z-index:999!important;
}
.rank-flag{
    position:absolute !important;
    top:-15px;
    height:30px !important;
    width:30px !important;
    z-index: 0;
}
.his-wods,
.his-people,
.period,
.gender{
    cursor:pointer;
}
#rank-nav {
    font-size: 0.8rem;
    text-align: center;
    padding-left:0;
    margin-bottom:10px;
}
ol#rank-nav li {
    display:inline;
    list-style:none;
}
.his-wod-name,
.rank-name{
    margin-top:4px;
}
.his-wod-name{
    font-family: 'Bungee', cursive;
    display:inline-block;
}
.x-info {
    font-size:0.7rem;
    margin-bottom:3px;
    padding-right:15px;
}
.member-comment-button-container{
    width:1rem;
    display:inline!important;
    position:relative;
}
.member-comment-button{
    padding: 2px 2px;
    position: absolute;
}
.member-comment {
    margin-top: 3px;
    width:100%;
    display:inline-block;
}
.fa-trash-alt {
    padding-right:3px!important;
}
.fa-edit:hover{
    color:blue;
}
.fa-trash-alt:hover {
    color: red;
}
.crud-icons-log i:hover,
.crud-icons i:hover{
    cursor:pointer;
}
.edit-comment-form,
.comment-info {
    float:left;
    width:95%;
}
.rank-name-spacing{
    float:left;
    width:73%;
}
.comment-info p strong {
    color: grey;
    margin-bottom: 3px;
}
.comment-info p {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
.comment-edit textarea {
    resize: none;
    width:100%;
}
.size-ten {
    font-size:1.4rem;
}
.size-hundred {
    font-size:1.0rem;
    margin-top:1px;
}
.size-thousand {
    font-size:0.75rem;
    margin-top:2px;
}
.size-tenK {
    font-size:0.6rem;
    margin-top:3px;
}
.size-hunK {
    font-size:0.5rem;
    margin-top:3px;
}
#categories-div ul{
    list-style: none;
    padding:0 10px 0 10px;
}
.wod-cat-wods{
    color:blue;
}
.wod-cat-wods a {
    text-decoration:none;
    color:blue;
}
.cat{
    font-family: 'Bungee', cursive;
    color:#ffc107;
    cursor:pointer;
    font-size:1.3rem;
}
#workout-of-the-day-cat:hover,
.wod-cat-wods:hover,
.cat:hover{
    text-shadow: blue 2px 2px 1px;
}
.cat-wods:hover{
    text-shadow: none;
}
.search-cat,
.cat-wods{
    color:grey;
    font-size:0.9rem;
    cursor:pointer;
    font-family:'Bungee', cursive;
}
.cat-wods li a{
    color:blue!important;
}
.cat-wods li a:hover,
.wod-cat-wods a:hover {
    text-shadow: #ffc107 2px 2px 1px;
    /* color:blue!important; */
    text-decoration: none;
}
.search-cat-item a {
    color:blue;
    font-size:0.9rem;
}
.search-cat-item a:hover {
    text-shadow: #ffc107 2px 2px 1px;
    text-decoration: none;
}
.search-member,
.search-wod{
    margin-bottom:5px;
}
#rangeLevel{
    width:70%;
}
.slider-row .slider{
    width:75%!important;
}
.slider-selection{
    display:none;
}
#rangeLevelCurrentSliderValLabel{
    text-align:center;
    color:grey;
    font-size:0.8rem;
}
#rangeLevelSliderLevelVal {
    color:blue;
    font-weight: bold;
}
#rangeLevelSliderVal {
    color:black;
    font-weight: bold;
}
.tooltip {
    display:none!important;
}

/* PROFILE PAGE */

.account-link{
    margin: 5px 0px;
}
.profile-info-list{
    width:100%;
    text-align: center
}
.block-title{
    text-align:center;
    cursor: pointer;
}
.stats-name{
    text-align:center;
    color:grey;
}
.profile-info-list li .fa-mars {
    font-size:1.6rem;
}
#level-header h3{
    display:block;
    padding-top:8px;
}
#level-loader p{
    font-size:0.7rem;
    margin-bottom:5px;
    color:grey;
}
.block-info-text{
    font-size:0.8rem;
    color:grey;
    padding:3px 15px;
    text-align:center;
}
#level-info-modal-gm,
#level-info-modal-hl{
    color:grey;
    margin-left:3px;
    cursor: pointer;
}
#level-info-modal-hl{
    padding-top:12px;
}
#level-block {
    padding-top:0px!important;
}
.level-bar-box{
    width: 100%;
    height:104px;
    border: dotted 1px grey;
    border-bottom: solid 3px black;
    display:flex;
    flex-direction:column-reverse;
    flex-wrap:nowrap;
}
.level-bar{
    margin:0 auto;
    width: 50px;
    min-height:76px;
    background-color:grey;
}
.level-number{
    margin:0 auto;
    width:50px;
    text-align:center;
    background-color:white;
}
.level-cat-name{
    font-family:'Bungee', cursive;
    color:#ffc107;
    text-align:center;
}
span.acc-high,
span.acc-medium,
span.acc-low{
    font-weight: bold;
    color:white;
}
.acc-high {
    background-color:blue!important;
}
.acc-medium {
    background-color:#ffc107!important;
}
.acc-low {
    background-color:red!important;
}
.acc-high-p {
    color:blue!important;
}
.acc-medium-p {
    color:#ffc107!important;
}
.acc-low-p {
    color:red!important;
}
.col-levels {
    margin-top:19px;
    margin-bottom:17px;
}
.fa-edit-profile:hover{
    color:white;
}
#profile-circle-container {
    height:150px;
}
/* This is a hidden datefield that ensures
proper form validation, but due to the inability to 
format it in the way that I want it's hidden and 
linked to a date input field that is formatted properly. */
.hidden-datefield {
    position: absolute;
    opacity: 0;
    z-index: 1;
    top:165px;
    left:100px;
    width: 1px;
    height: 1px;
}
.input-group-addon {
    z-index: 998;
}
#date {
    border-color: black!important;
}
.pwod{
    color:grey;
}
.pperc{
    font-weight:bolder;
}
.popover-header{
    text-align:center;
}
.popover{
    margin-top:0px;
    max-height:200px;
    overflow: scroll;
    max-width: 300px!important;
}
.week-low,
.month-low {
    color:red;
}
.week-high,
.month-high{
    color:blue;
}
.year{
    color:grey;
}
.row-stats h5{
    text-align:center;
    margin-top: 10px;
}
#letsgo,
#greatjob,
#coach,
#drill-seargent{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/* COMMUNITY PAGE */

.bh-community{
    margin-top:0;
    margin-bottom:10px;
}
.bh-community p{
    margin-bottom:5px;
}
.bh-community h4{
    margin-bottom:5px;
}
.row-groups .col-6,
.row-groups .col-md-4{
    margin-bottom:10px;
}
.group-select:hover{
    box-shadow:5px 5px 5px grey;
}
.group-select{
    font-family: 'Bungee', cursive;
    width: 100%;
    height: 100%;
    color:white;
    background-color: #ffc107;
    border-radius:5px;
    text-align: center;
    word-break: break-word;
    box-shadow:2px 2px 2px grey;
    cursor:pointer;
}
.add-group{
    background-color: grey;
}
.disabled-group{
    background-color:#ffc107;
    color:grey;
}
.group-title{
    color:grey;
}
.group-select h5{
    margin:5px;
}
.p-popover {
    margin-bottom: 0;
}
.p-popover i:hover{
    cursor: pointer;
}
.p-popover i:not(.fa-trash-alt):hover{
    color:blue;
}
.selected-group{
    background-color:blue;
}
.custom-row {
    width:100%;
    height:100%;
}
.group-options{
    width: 54px;
    margin-left: calc(100% - 60px);
    background-color:grey;
    color:white;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
    font-size: 0.7rem;
    padding: 2px 10px;
}
.edit-group{
    margin-right:8px;
}
.tail-info{
    font-size:0.7rem;
    color:grey;
}
.block-stats,
.block-main,
.block-members{
    padding-top: 0!important;
    max-height:400px;
    overflow-y:scroll;
    overflow-x:hidden;
}
.block-levels{
    max-height:none!important;
    overflow:none!important;
}
.shadow-div{
    box-shadow: inset 0px 0px 7px #000;
    position:absolute;
    height:calc(100% - 27px);
    width:calc(100% - 42px);
    min-width: 218px;
    top:6px;
    left:0;
    pointer-events: none;
    margin-left:21px;
    z-index: 999;
}
.hl-head{
    font-size: 1.3rem;
    font-family: 'Bungee', cursive;
    position: absolute;
    top: -23px;
    left: 2px;
    color: rgb(0, 0, 255, 0.8);
}
.display-level{
    font-size: 1.5rem;
    font-family: 'Bungee', cursive;
    letter-spacing: -2px;
    position: absolute;
    top: -9px;
    left: 1px;
    color: rgba(255, 193, 7,0.8);
}
.hero-level-group{
    font-family: 'Bungee', cursive;
    font-size: 1.2rem;
    color:blue;
}
.group-level{
    color:#ffc107;
}
.search-wait{
    font-size: 2rem;
    color:grey;
}
.add-user{
    position: absolute;
    left: -33px;
    top: -8px;
    color: grey;
    cursor:pointer;
}
.fa-user-plus:hover{
    color:blue;
}
.fa-user-minus:hover{
    color: red;
}
.group-btn{
    margin: 5px;
}
#no-members-added{
    margin:5px;
    color:grey;
}
.group-admin-list{
    margin-bottom: 2px;
}
.group-admin{
    /* color:grey; */
    font-size:0.75rem;
}
.placeholder-fail::-webkit-input-placeholder {
color: red;
}
#goto-members:hover{
    cursor:pointer;
    color:blue;
}
#close-mg,
#close-eg,
#close-hl{
    color:grey;
    cursor: pointer;
    position: absolute;
    right:13px;
}
#close-hl{
    display:none;
    right:30px;
}
/* MEDIAQUERIES */

@media (max-width: 576px) {
    body {
        background-position-y: 90px;
    }
    #profile-circle-container {
        height:90px;
    }
    #profile-circle {
        height: 120px;
        width: 120px;
    }
    .emblem-circle-hover {
        margin-left: -120px!important;
        height: 120px!important;
        width: 120px!important;
    }
    #hero-co-info {
    top: 90px;
    }
    #header-bar {
        height: 90px;
    }
    #first-head-col {
        padding-left: 0px;
    }
    .page-content {
    padding-top: 50px;
    margin-top:90px;
    min-height: calc(100vh - 90px - 42px);
    }
    .navbar {
        margin-top:25px;
    } 
    .message-container-home {
        top: 152px !important;
    }
    .message-container {
        top:115px;
        min-width: 245px!important;
    }
    #arrow-emblem {
        top:35px;
        right: 13px;
    }
    #arrow-emblem-home {
        top:143px;
    }
    #emblem-circle {  
        top:42px;
        margin-left:-23px;
        height:40px;
        width:40px;
    }
    #info-overlay-h{
    top:-40px;
    }
}

@media (max-width: 992px) {
    .navbar-collapse {
        padding: 0px 24px 0px 24px;
        background: url('/media/blackmat.jpg') repeat fixed;
        background-size: 300px 300px;
        left: -24px;
        top: 15px;
        position: relative;
    }
}
