body {
    background: url('/media/background.jpg') no-repeat fixed;
    background-size: cover;
    background-position-y: 150px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bungee';
}

#header-bar {
    height: 150px;
    border-bottom: 3px solid black;
    background: url('/media/blackmat.jpg') repeat fixed;
    background-size: 300px 300px;
    /* background-size: cover; */
    /* background-color:#000; */
    color: #DEC19A;
    font-family: 'Bungee';
}

.navbar {
    text-transform: uppercase;
    font-size: 1.5rem;
}

#profile-circle {
    margin-top:25px;
    height:200px;
    width:200px;
    min-width: 120px;
    border-radius:50%;
    border: 3px solid black;
    background-size: cover;
    z-index: 999;
}

.toast {
    box-shadow: 5px 5px 15px #000;
}

.toast-body {
    font-family: 'Open Sans', sans-serif;
}
#arrow-emblem {
    top:56px;
    right: 23px;
    background-color:transparent;
}

#arrow-emblem-home {
    position: absolute;
    top:221px;
    right:auto;
    /* margin-top:25px;
    height:60px;
    width:60px;
    border-radius:50%;
    border: 3px solid black;
    background-size: cover; */
    z-index: 999;
    /* position: absolute;
    top:221px;
    right: 120px; */
    background-color:transparent;
}

#emblem-circle {
    position: absolute;
    top:93px;
    margin-left:190px;
    margin-top:25px;
    height:60px;
    width:60px;
    border-radius:50%;
    border: 3px solid black;
    background-size: cover;
    z-index: 999;
}

.page-content {
    height: calc(100vh - 150px);
    padding-top: 75px;
    padding-bottom: 75px;
    /* background: url('/media/background.jpg') no-repeat fixed;
    background-size: cover; */
}

.content-block {
    margin-top: 15px;
}

.fillblock {
    min-height: 200px;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}

#id_user_comment {
    height: 4em;
}
.workout-name {
    color: #000;
}

.workout-name span {
    color: #6c757d;
}

.workout-description {
    white-space:pre-line;
}

.category-name {
    color: #ffc107;
}
#log-workout-button {
    position: absolute;
    right: 0;
}
/* .logfield {
    display: none;
} */
#logform-div {
    display:none;
}
.navbar {
    margin-top:85px;
}

.example-slide {
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid 3px #000;
}
#promo-text {
    /* margin-top:100px; */
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px #000;
    /* background-color: rgba(0,0,0, 0.5) */
}

.datepicker {
    z-index: 9999!important;
}
.header-text {
    color: white;
    text-shadow: 2px 2px 5px #000;
}

.btn-black {
    background-color: #000;
    color: #fff;
}
/* from Bulma _ from Boutique Ado project */
.icon { 
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
/* check for actual use */

/* .logo-font {
    text-transform: uppercase;
} */
/* check for actual use */
/* .main-logo-link {
    width: fit-content;
} */
/* check for actual use */
/* .shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
} */
/* check for actual use */
/* .button-black {
    background: black;
    color: white;
} */
/* check for actual use */
.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}
/* check for actual use */
/* .shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus, */
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}
/* check for actual use */
.text-black {
    color: #000 !important;
}
/* check for actual use */
.border-black {
    border: 1px solid black !important;
}
/* check for actual use */
.bg-black {
    background: #000 !important;
}
/* check for actual use */
/* .overlay {
    height:100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
} */
/* check for actual use */
a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}
/* check for actual use */
.btt-button {
    height: 42px;
    width:42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
/* check for actual use */
.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}
/* check for actual use */
input[name='q']::placeholder {
    color:#aab7c4;
}
/* check for actual use */
.message-container {
    position: absolute;
    top:187px;
    /* right:15px; */
    z-index: 99999999;
}

.message-container-home {
    top: 231px !important;
}
/* check for actual use */
.custom-toast {
    overflow: visible;
    /* position: absolute; */
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 34px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bootstrap-iso {
    font-family: inherit !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
}
/* Allauth form formatting  */

select {
    margin-bottom: 15px;
    border: solid 1px #000000 !important;
}

#id_image {
    text-shadow: 1px 1px 2px white;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem; /*mt-4*/
    color: #000000; /* text-secondary */
    text-shadow: 1px 1px 2px white;
}

.allauth-form-inner-content form {
    text-shadow: 1px 1px 2px white;
    margin-bottom: 25px;
}

.allauth-form-inner-content input {
    border-color: #000!important;
    border-radius: 0!important;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

/* .allauth-form-inner-content label[for='image_clear_id'] { */
label[for='image-clear_id'] {
    display: inline-block !important;
}

#id_image {
    border: none !important;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content input {
    margin-bottom: 15px;
}
.allauth-form-inner-content a {
    color: #17a2b8; /* text-info */
    text-decoration: none;
}

#block-1,
#block-3 {
    overflow: overlay;
    max-height: none;
    max-height: 400px;
}

.log-ranking,
.log-history {
    list-style: none;
}

.log-ranking {
    /* https://css-tricks.com/custom-list-number-styling/ */
    counter-reset: my-awesome-counter;
    padding-left:0px;
    font-size:0.75rem;
}

.rank-card {
    counter-increment: my-awesome-counter;
    border: 1px solid grey;
    border-radius: 3px;
    padding-left:2px;
}

.log-ranking .rank-card:before {
    content: counter(my-awesome-counter);
    color: #ffc107;;
    font-weight: bold;
    font-size:1.5rem;
    margin-left:3px;
}

.card-col p{
    margin-bottom: 3px;
}

.pr-logo-circle {
    height:30px;
    width:30px;
    border-radius:50%;
    background-size: cover;
    z-index: 1;
    position:absolute;
    top:-15px;
    left:-30px;
}

.pf-rnk-circle {
    height:30px;
    width:30px;
    border-radius:50%;
    border: 1px solid grey;
    background-size: cover;
    z-index: 999;
    position:absolute;
    top:-15px;
    left:-15px;
}
.pr-logo-circle:hover,
.rank-flag:hover,
.pf-rnk-circle:hover{
    height: 60px !important;
    width: 60px !important;
    top: -30px;
    z-index:99999!important;
}

.rank-flag{
    position:absolute !important;
    /* left:15px; */
    top:-15px;
    height:30px !important;
    width:30px !important;
    z-index: 0;
}

/* .rank-flag:hover{
    z-index:9999;
} */

.block-title{
    text-align:center;
}
#rank-nav {
    font-size: 0.8rem;
    text-align: center;
    padding-left:0;
}
ol#rank-nav li {
    display:inline;
    list-style:none;
}

.extra-log-info {
    display:none;
}

.extra-log-info hr {
    margin: 5px 0px;
}
/* MEDIAQUERIES */

@media (max-width: 576px) {
    
  body {
    background-position-y: 90px;
  }
  #profile-circle {
    height: 120px;
    width: 120px;
  }
#header-bar {
    height: 90px;
  }

#first-head-col {
    padding-left: 0px;
}
.page-content {
padding-top: 50px;
}
.navbar {
    margin-top:25px;
} 

.message-container-home {
    top: 152px !important;
}

.message-container {
    top:115px;
}

#arrow-emblem {
    top:35px;
    right: 13px;
}

#arrow-emblem-home {
    top:143px;
}


#emblem-circle {  
    top:42px;
    margin-left:120px;
    height:40px;
    width:40px;
}
}

@media (max-width: 992px) {
    .navbar-collapse {
        padding: 0px 24px 0px 24px;
        background: url('/media/blackmat.jpg') repeat fixed;
        background-size: 300px 300px;
        left: -24px;
        top: 15px;
        position: relative;
    }
}
