{% block content %}
<div>
    <h4 class="block-title">Edit Profile</h4>
    <form class="signup" id="edit-profile-form" method="post" action="{% url 'edit_profile' %}"
        enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        {% if field.name != 'image' %}
        {{ field | as_crispy_field }}
        {% else %}
        {{ field }}
        {% endif %}
        {% endfor %}
        <div class="account-link"><a href="{% url 'account_change_password' %}">Change Password</a></div>
        <div class="account-link"><a href="{% url 'account_email' %}">Change Email</a></div>
        <button class="btn btn-black rounded-1" type="submit" id="submit-button">Edit Profile</button>
        <button class="btn border-black rounded-1" id="cancel-profile-edit">Cancel</button>
    </form>
</div>
{% endblock %}