<div class="container">
    <div class="row justify-content-center" id="level-header">
        <h3>Hero Level: {{ general_level }}</h3>
    </div>
    <div class="row justify-content-center" id="level-loader" hidden>
        <p>Updating...<i class='fas fa-circle-notch fa-spin'></i></p>
    </div>
    <div class="row row-levels justify-content-center">
        {% for cat in cat_levels %}
        <div class="col-6 col-md-4 col-lg-3 justify-content-center col-levels">
            <div class="level-bar-box">
                <div class="level-bar acc-{{ cat.acc }}"></div>
                <div class="level-number">{{ cat.perc }}</div>
            </div>
            <div class="level-cat-name"><span>{{ cat.cat }}</span></div>
        </div>
        {% endfor %}
    </div>
</div>
<div id="level-data" data-levels="{{ cat_levels }}"></div>