 <div class="container" id="user-stats-block">
    <div class="row">
    <h4 class="block-title">Workout STATS</h4>
        <ul class="list-unstyled profile-info-list">
            <li>Workouts this Week: <span class="week-{{ perfw }}">{{ week }}</span></li>
            <li>Workouts this Month: <span class="month-{{ perfm }}">{{ month }}</span></li>
            <li>Workouts this Year: <span class="year">{{ year }}</span></li>
            <li>You're doing great!</li>
        </ul>
    </div>
</div>