<div class="block-header sticky-top justify-content-center">
    <h4 class="block-title">WOD Activity</h4>
    <ol id="rank-nav">
        <li id="his-everybody" class="his-people" data-page="2">Everybody</li>
        -
        <li id="his-me" class="his-people" data-page="2">Me</li>
        |
        <li id="his-all-wod" class="his-wods" data-page="2">All WODs</li>
        -
        <li id="his-this-wod" class="his-wods" data-page="2">This WOD</li>
    </ol>
</div>
<ol class="log-phistory">
</ol>