<div class="container hero-co-info-con">
    <div class="row justify-content-center row-site-info">
        <div class="col-10 p-0">
            <div class="row justify-content-center">
                    <h3 class="t-center">Hero Community</h3>
                    <h3 id="info-overlay-h"><i class="fas fa-times" id="close-info-overlay"></i></h3>
            </div>
            <p id="info-overlay-text">This is a block with a lot of information that will appear upon hover over the logo emblem. It will tell about the origins of the site and its creator.
            This is a block with a lot of information that will appear upon hover over the logo emblem. It will tell about the origins of the site and its creator.
            This is a block with a lot of information that will appear upon hover over the logo emblem. It will tell about the origins of the site and its creator.
            This is a block with a lot of information that will appear upon hover over the logo emblem. It will tell about the origins of the site and its creator.
            This is a block with a lot of information that will appear upon hover over the logo emblem. It will tell about the origins of the site and its creator.
            This is a block with a lot of information that will appear upon hover over the logo emblem. It will tell about the origins of the site and its creator.
            This is a block with a lot of information that will appear upon hover over the logo emblem. It will tell about the origins of the site and its creator.
            </p>
        </div>
    </div>
</div>