{% load calc_functions %}
<div class="block-header sticky-top row justify-content-center bh-community">
    <div class="col-12 d-flex justify-content-center">
        <h4 class="block-title">Groups</h4>
        <p><i class="fas fa-info-circle" id="level-info-modal-gm"></i></p>
    </div>
    <div class="row justify-content-center block-info-text" id="level-info-gm" hidden>
        <p>In this module you can make and select groups. The group you select will be the group that you will be ranked against on the workout page and you will be able to view the log activity and comments of all the groups members. You can always come back to this page and switch groups. NOTE: Your level statistics will always be measured against the results of the entire global community.</p>
    </div>
</div>
<div class="row justify-content-center group-title">
    <h5>Location</h5>
</div>
<div class="row justify-content-center row-groups location-groups">
    <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center align-items-center">
        <div class="group-select d-flex align-items-center justify-content-center selected-group" id="group-global">
            <h5>Global</h5>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center align-items-center">
        <div class="group-select d-flex align-items-center justify-content-center" id="group-country">
            <h5>{{ profile.get_country_display }}</h5>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center align-items-center">
        <div class="group-select d-flex align-items-center justify-content-center" id="group-city">
            <h5>{{ profile.town_or_city }}</h5>
        </div>
    </div>
</div>
<div class="row justify-content-center group-title">
    <h5>Your Age Group</h5>
</div>
<div class="row justify-content-center row-groups age-groups">
    <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center align-items-center">
        <div class="group-select d-flex align-items-center justify-content-center" id="group-age">
            <h5>{{  age_group }}</h5>
        </div>
    </div>
</div>
<div class="row justify-content-center group-title">
    <h5>Custom</h5>
</div>
<div class="row justify-content-center row-groups custom-groups">
    <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center align-items-center">
        <div class="group-select d-flex align-items-center justify-content-center add-group">
            <h5>Make Group +</h5>
        </div>
    </div>
    {% for group in groups %}
    <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center align-items-center">
        <div class="row g-0 justify-content-center custom-row">
            <div class="group-select d-flex align-items-center justify-content-center" id="{{ group.pk }}">
                <h5>{{ group.name }}</h5>
            </div>
            <div class="group-options" hidden>
                <p class='p-popover'>{% if request.user == group.admin %}<i
                        class='far fa-edit edit-group'>{% endif %}</i><i class='far fa-trash-alt delete-group'></i></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>