<div class="block-header sticky-top justify-content-center bh-community">
    <h4 class="block-title" id="members-title" data-page="2" data-hasnext="{{ has_next }}">Members</h4>
    <div class="row pt-1 justify-content-center">
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control search-member" type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>
</div>
<ol class="group-members">
            {% for member in group %}            
                    <div class = "row rank-card mx-0 my-1 align-items-center justify-content-between" id="{{ member.id }}" data-country="{{ member.userprofile.country.code }}">
                        <div class="col-1"><div class="hl-head">HL</div><div class="display-level">{{ member.herolevels.general_level }}</div></div>
                        <div class="card-col col-8 px-1">
                            <div class="rank-name-spacing">
                                <p class="rank-name"><strong>{{ member.userprofile.full_name }}</strong></p>
                            </div>
                        </div>
                        <div class="col-2 px-0 align-self-center justify-content-end">
                            <div class="pf-rnk-circle" style="background: url('{{member.userprofile.image.url}}') no-repeat; background-size: cover">
                            </div>
                            <i class="fflag fflag-{{ member.userprofile.country.code }} ff-lg ff-round rank-flag" aria-label="{{ member.userprofile.country.code }}"></i>
                        </div>
                    </div>
            {% endfor %}
                <div class="row mx-0 my-1 align-items-center justify-content-center direction direction-down-group direction-group group-dir-down"><i class="fas fa-angle-double-down"></i></div>
                <div class="row justify-content-center search-wait" hidden><i class='fas fa-circle-notch fa-spin'></i></div>
            </ol>