{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv='X-UA-Compatible' content='ie-edge'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9facdf36e4.js" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}


    <title>Crossfit Community{% block extra_title %}{% endblock %}</title>
  </head>
  <body>
      <header class="container-fluid fixed-top" id="header-bar">
          <div class="row">
              <div class="col-9 d-flex justify-content-center" style="background-color:bisque">
                    <nav class="navbar navbar-expand-lg navbar-light w-100" id="nav-menu">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="main-nav">
                            <ul class="navbar-nav w-auto mx-auto">
                                <li class="nav-item d-block d-md-none">
                                    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="home-link">
                                            Home
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        All Products
                                    </a>
                                    <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                                        <a href="" class="dropdown-item">By Price</a>
                                        <a href="" class="dropdown-item ">By Rating</a>
                                        <a href="" class="dropdown-item ">By Category</a>
                                        <a href="" class="dropdown-item">All Products</a>
                                    </div>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Clothing
                                    </a>
                                    <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                                        <a href="" class="dropdown-item">Activewear &amp; Essentials</a>
                                        <a href="" class="dropdown-item">Jeans</a>
                                        <a href="" class="dropdown-item">Shirts</a>
                                        <a href="" class="dropdown-item">All Clothing</a>
                                    </div>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Homeware
                                    </a>
                                    <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                                        <a href="" class="dropdown-item">Bed &amp; Bath</a>
                                        <a href="" class="dropdown-item">Kitchen &amp; Dining</a>
                                        <a href="" class="dropdown-item">All Homeware</a>
                                    </div>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="logo-font font-weight-bold nav-link text-black" href="" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Special Offers
                                    </a>
                                    <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                                        <a href="" class="dropdown-item">New Arrivals</a>
                                        <a href="" class="dropdown-item">Deals</a>
                                        <a href="" class="dropdown-item">Clearance</a>
                                        <a href="" class="dropdown-item">All Specials</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
              </div>
              <div class="col-3 d-flex justify-content-center">
                  <div id="profile-circle"></div>
              </div>
          </div>
      </header>
    
      {% if messages %}
        <div class="message-container"></div>
      {% endif %}

      {% block page_header %}
      {% endblock %}

      {% block content %}
      {% endblock %}

      {% block postloadjs %}
      {% endblock %}
   
  </body>
</html>