{% load calc_functions %}
<div class="block-header sticky-top justify-content-center">
    <h4 class="block-title">Explore WODs</h4>
    <div class="row pt-1 justify-content-center">
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 search-wod" type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>
</div>
<div class="row pl-2 pt-2 cat-div">
       <ul>
        {% for cat in categories %}
        <li id="{{ cat|space_remove }}" class="cat">{{ cat }}</li>           
        <ul class="cat-wods">
            {% for wod in wod_collection %}
            {% if wod.get_workout_category_display == cat %}
            <li><a href="{% url 'workouts' wod.pk %}">{{ wod.workout_name }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        <!-- </li> -->
        {% endfor %}
    </ul> 
</div>
<div class="row pl-2 pt-2">
    <ul class="search-cat">
        {% for wod in wod_collection %}
        <li class="search-cat-item"><a href="{% url 'workouts' wod.pk %}">{{ wod.workout_name }}</a></li>
        {% endfor %}
    </ul>
</div>