<h4 class="block-title">WOD Ranking</h4>
    <ol id="rank-nav">
    <li id="rank-all-time" class="period">Year</li>
    -
    <li id="rank-today" class="period">Today</li>
    |
    <li id="rank-men" class="gender">Men</li>
    -
    <li id="rank-women" class="gender">Women</li>
</ol>
        {% for r_group in rank_groups %}
            <ol class="log-ranking log-rank">
            {% for member_r_log in r_group %}  
            <div id="m-log-id" data="{{ member_r_log.id }}" hidden></div>              
                    <div class = "row rank-card mx-0 my-1 align-items-center justify-content-between" name="log-id-{{ member_r_log.id }}" id="log-id-{{ member_r_log.id }}">
                        <div class="card-col col-8 px-1">
                            <p class='rank-name'><strong>{{ member_r_log.user.userprofile.full_name }}</strong></p>
                            {% if rank_result == 'ft_result' %}
                            <p><span class="ft-log r-log">{{ member_r_log.ft_result }}</span></p>
                            {% elif rank_result == 'amrap_result' %}
                            <p><span class="amrap-log r-log">{{ member_r_log.amrap_result }}</span> rounds</p>
                            {% else %}
                            <p><span class="mw-log r-log">{{ member_r_log.mw_result }}</span>kg</p>
                            {% endif %} 
                        </div>
                        <div class="col-2 px-0 align-self-center justify-content-end">
                            <a href="#">
                            <div id="pf-rnk-circle-{{member_r_log.user}}" class="pf-rnk-circle" style="background: url('{{member_r_log.user.userprofile.image.url}}') no-repeat; background-size: cover">
                            </div>
                            <i class="fflag fflag-{{ member_r_log.user.userprofile.country.code }} ff-lg ff-round rank-flag" aria-label="{{ member_r_log.user.userprofile.country.code }}"></i>
                            {% if member_r_log.personal_record %}
                            <div class="pr-logo-circle" style="background: url('/media/herocommunitylogo-PR-lean.jpg') no-repeat; background-size: cover"></div>
                            {% endif %}
                            </a>                            
                        </div>
                    </div>
                    <!-- EXTRA INFO -->
                    <div class = "row mx-0 my-1 align-items-center justify-content-between extra-log-info log-id-{{ member_r_log.id }}">
                        <div class="card-col col-8 px-1">
                            <hr>
                            <div class="x-info">
                                <strong>
                                    {{ member_r_log.date }}<br>
                                    {% if member_r_log.rx %}
                                        As prescribed<br>
                                        {% else %}
                                        Scaled<br>
                                    {% endif %}
                                </strong>
                            </div>
                        </div>
                        <div class="col-2 px-0 align-self-center justify-content-end">
                        </div>
                    </div>
                    <!-- USER COMMENT -->
                    {% if member_r_log.user_comment != '' %}
                    <div class = "row mx-0 my-1 align-items-center justify-content-between extra-log-info log-id-{{ member_r_log.id }}">
                        <div class="card-col col-8 px-1">
                            <hr>
                            <div class="x-info">
                                <strong>{{ member_r_log.user.userprofile.full_name }}:</strong><br>
                                <em>"{{ member_r_log.user_comment }}"</em>
                            </div>
                        </div>
                        <div class="col-2 px-0 align-self-center justify-content-end">
                            <a href="#">
                            <div id="pf-rnk-circle-{{member_r_log.user}}" class="pf-rnk-circle" style="background: url('{{member_r_log.user.userprofile.image.url}}') no-repeat; background-size: cover">
                            </div>
                            </a>                         
                        </div>
                    </div>
                    {% endif %}
                    <!-- MEMBER COMMENT -->
                    {% if member_r_log.user_comment != '' %}
                    <div class = "row mx-0 my-1 align-items-center justify-content-between extra-log-info log-id-{{ member_r_log.id }}">
                        <div class="card-col col-8 px-1">
                            <hr>
                            <div class="x-info">
                                <strong>{{ member_r_log.user.userprofile.full_name }}:</strong><br>
                                <em>"{{ member_r_log.user_comment }}"</em>
                            </div>
                        </div>
                        <div class="col-2 px-0 align-self-center justify-content-end">
                            <a href="#">
                                <div id="pf-rnk-circle-{{member_r_log.user}}" class="pf-rnk-circle" style="background: url('{{member_r_log.user.userprofile.image.url}}') no-repeat; background-size: cover">
                                </div>
                            </a>                         
                        </div>
                    </div>
                    {% endif %}
                    <!-- LEAVE A COMMENT -->
                    <div class = "row mx-0 my-1 align-items-center justify-content-between extra-log-info log-id-{{ member_r_log.id }}">
                        <div class="card-col col-8 px-1">
                            <hr>
                            <div class="x-info">
                                <form action="/ajax/post/commentMember" method="POST">
                                    {% csrf_token %}
                                    <textarea name="member_comment" placeholder="Leave a comment" class="member-comment"></textarea>
                                    <button class="btn rounded-0 btn-black comment-btn member-comment-button" type="submit" hidden>Comment</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-2 px-0 align-self-center justify-content-end">
                        </div>
                    </div>
            {% endfor %}
            </ol>
        {% endfor %}
            <div id="gender" hidden>{{ profile.gender }}</div>
            