<h4 class="block-title">WOD Ranking</h4>
    <ol id="rank-nav">
    <li id="rank-all-time" class="period">Year</li>
    -
    <li id="rank-today" class="period">Today</li>
    |
    <li id="rank-men" class="gender">Men</li>
    -
    <li id="rank-women" class="gender">Women</li>
</ol>
        {% for r_group in rank_groups %}
            <ol class="log-ranking log-rank">
            {% for member_r_log in r_group %}  
                <div class="m-log-id" data="{{ member_r_log.pk }}" hidden></div>              
                    <div class = "row rank-card mx-0 my-1 align-items-center justify-content-between" name="log-id-{{ member_r_log.id }}" id="log-id-{{ member_r_log.id }}">
                        <div class="card-col col-8 px-1">
                            <p class='rank-name'><strong>{{ member_r_log.user.userprofile.full_name }}</strong></p>
                            {% if rank_result == 'ft_result' %}
                            <p><span class="ft-log r-log">{{ member_r_log.ft_result }}</span></p>
                            {% elif rank_result == 'amrap_result' %}
                            <p><span class="amrap-log r-log">{{ member_r_log.amrap_result }}</span> rounds</p>
                            {% else %}
                            <p><span class="mw-log r-log">{{ member_r_log.mw_result }}</span>kg</p>
                            {% endif %} 
                        </div>
                        <div class="col-2 px-0 align-self-center justify-content-end">
                            <a href="#">
                            <div id="pf-rnk-circle-{{member_r_log.user}}" class="pf-rnk-circle" style="background: url('{{member_r_log.user.userprofile.image.url}}') no-repeat; background-size: cover">
                            </div>
                            <i class="fflag fflag-{{ member_r_log.user.userprofile.country.code }} ff-lg ff-round rank-flag" aria-label="{{ member_r_log.user.userprofile.country.code }}"></i>
                            {% if member_r_log.personal_record %}
                            <div class="pr-logo-circle" style="background: url('/media/herocommunitylogo-PR-lean.jpg') no-repeat; background-size: cover"></div>
                            {% endif %}
                            </a>                            
                        </div>
                    </div>
                    <!-- EXTRA INFO -->
                    <div class = "row mx-0 my-1 align-items-center justify-content-between extra-log-info log-id-{{ member_r_log.id }}">
                        <div class="card-col col-8 px-1">
                            <hr>
                            <div class="x-info">
                                <strong>
                                    {{ member_r_log.date }}<br>
                                    {% if member_r_log.rx %}
                                        As prescribed<br>
                                        {% else %}
                                        Scaled<br>
                                    {% endif %}
                                </strong>
                            </div>
                        </div>
                        <div class="col-2 px-0 align-self-center justify-content-end">
                        </div>
                    </div>
                    <!-- USER COMMENT -->
                    {% if member_r_log.user_comment != '' %}
                    <div class = "row mx-0 my-1 align-items-center justify-content-between extra-log-info log-id-{{ member_r_log.id }}">
                        <div class="card-col col-8 px-1">
                            <hr>
                            <div class="x-info">
                                <div class="comment-info">
                                    <strong>{{ member_r_log.user.userprofile.full_name }}:</strong><br>
                                    <em>"{{ member_r_log.user_comment }}"</em>
                                </div>
                                <div class="edit-comment-form" name="edit-comment-form-user" hidden>
                                        <form action="/ajax/post/commentMember" method="POST" class="comment-edit">
                                            {% csrf_token %}
                                            <div class="comment-id" hidden>{{ member_r_log.pk }}</div>
                                            <textarea name="user_comment" class="user-comment">{{ member_r_log.user_comment }}</textarea>
                                            <button class="btn rounded-0 btn-black comment-btn member-comment-button" type="submit" hidden>Comment</button>
                                        </form>
                                    </div>
                                {% if profile.user == member_r_log.user %}
                                <div class="crud-icons">
                                    <i class="far fa-edit edit-comment"></i><br>
                                    <i class="far fa-trash-alt delete-comment"></i>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-2 px-0 align-self-center justify-content-end">
                            <a href="#">
                            <div id="pf-rnk-circle-{{member_r_log.user}}" class="pf-rnk-circle" style="background: url('{{member_r_log.user.userprofile.image.url}}') no-repeat; background-size: cover">
                            </div>
                            </a>                         
                        </div>
                    </div>
                    {% endif %}
                    <!-- MEMBER COMMENT -->
                    {% for member_comment in member_comments %}
                    <!-- {{ member_comment.log_id.pk }} == {{ member_r_log.pk }} -->
                        {% if member_comment.log_id.pk == member_r_log.pk %}
                        <div class = "row mx-0 my-1 align-items-center justify-content-between extra-log-info log-id-{{ member_r_log.id }}">
                            <div class="card-col col-8 px-1">
                                <hr>
                                <div class="x-info">
                                    <div class="comment-info">
                                        <strong>{{ member_comment.member.userprofile.full_name }}:</strong><br>
                                        <em>"{{ member_comment.message }}"</em>
                                    </div>
                                    <div class="edit-comment-form" hidden>
                                        <form action="/ajax/post/commentMember" method="POST" class="comment-edit">
                                            {% csrf_token %}
                                            <div class="comment-id" hidden>{{ member_comment.pk }}</div>
                                            <textarea name="member_comment" class="member-comment">{{ member_comment.message }}</textarea>
                                            <button class="btn rounded-0 btn-black comment-btn member-comment-button" type="submit" hidden>Comment</button>
                                        </form>
                                    </div>
                                    {% if profile.user == member_comment.member %}
                                    <div class="crud-icons">
                                        <i class="far fa-edit edit-comment"></i><br>
                                        <i class="far fa-trash-alt delete-comment"></i>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-2 px-0 align-self-center justify-content-end">
                                <a href="#">
                                    <div id="pf-rnk-circle-{{member_r_log.user}}" class="pf-rnk-circle" style="background: url('{{member_comment.member.userprofile.image.url}}') no-repeat; background-size: cover">
                                    </div>
                                </a>                         
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                    <!-- LEAVE A COMMENT -->
                    <div class = "row mx-0 my-1 align-items-center justify-content-between extra-log-info add-border-last log-id-{{ member_r_log.id }}">
                        <div class="card-col col-8 px-1">
                            <hr>
                            <div class="x-info">
                                <form action="/ajax/post/commentMember" method="POST" class="comment-upload">
                                    {% csrf_token %}
                                    <textarea name="member_comment" placeholder="Leave a comment" class="member-comment"></textarea>
                                    <button class="btn rounded-0 btn-black comment-btn member-comment-button" type="submit" hidden>Comment</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-2 px-0 align-self-center justify-content-end">
                        </div>
                    </div>
            {% endfor %}
            </ol>
        {% endfor %}
            <div id="gender" hidden>{{ profile.gender }}</div>
            <div id="profile-name" hidden>{{ profile.full_name }}</div>
            <!-- TEMPLATE FOR NEW COMMENT ROWS -->
            <div id="hidden-row-template" hidden>
                <div class = "row mx-0 my-1 align-items-center justify-content-between new-row log-id-new}">
                        <div class="card-col col-8 px-1">
                            <hr>
                            <div class="x-info">
                                <div class="comment-info">
                                    <strong id="new-comment-member">{{ member_comment.member.userprofile.full_name }}:</strong><br>
                                    <em id="new-comment">"{{ member_comment.message }}"</em>
                                </div>
                                <div class="edit-comment-form" hidden>
                                    <form action="/ajax/post/commentMember" method="POST" class="comment-edit">
                                        {% csrf_token %}
                                        <div class="comment-id" id="comment-id" hidden>{{ member_comment.pk }}</div>
                                        <textarea name="member_comment" class="member-comment" id="member-comment-ta">{{ member_comment.message }}</textarea>
                                        <button class="btn rounded-0 btn-black comment-btn member-comment-button" type="submit" hidden>Comment</button>
                                    </form>
                                </div>
                                <div class="crud-icons">
                                    <i class="far fa-edit edit-comment"></i><br>
                                    <i class="far fa-trash-alt delete-comment"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 px-0 align-self-center justify-content-end">
                            <a href="#">
                                <div id="pf-rnk-circle-{{profile.user.username}}" class="pf-rnk-circle" style="background: url('{{profile.image.url}}') no-repeat; background-size: cover">
                                </div>
                            </a>                         
                        </div>
                    </div>
            </div>